body {background-color: deeppink;}
h1 {text-align: center; color: black; font-size: 300%;}
#ima1 {margin-left: 42%;
border-color: brown;
border-width: 10px;
border-style: double;}
h2 {text-align: center;border-color: brown;
border-width: 10px;
border-style:double;
;}